body {
  background-color: black;
  font-family: monospace;
  margin-top: auto;
}

h1 {
  text-align: center;
}

.container {
  background-image: linear-gradient(to right top, #10e3db, #5ee3db, #84e3dc, #a1e2dc, #bae1dd);
  padding: 20px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#Java {
  display: none;
}

#Csharp {
  display: none;
}

#Ruby {
  display: none;
}



