body {
  background-color: black;
  font-family: fantasy
  text-align: center;
}

.container {
  background-color: rgba(252, 255, 47, 0.897);
  padding: 20px;
}

#Java {
  display: none;
}

#Csharp {
  display: none;
}

#Ruby {
  display: none;
}

#age {
  width:60;
  float: right;
}

